<header>
    <nav class="navbar">
        <div >
        <h1 id="part">PORT<h1 id="corH1">FÓLIO</h1></h1>
        </div>
        <div class="container-menu">
            <ul class="menu">
                <li><a href="#home">Home</a></li> 
                <li><a href="#sobre">Sobre Mim</a></li>
                <li><a href="habilidades">Habilidades</a></li>
                <li><a href="contato">Contato</a></li> 
                <li><a href="projetos">Projetos</a></li>
            </ul>
        </div>
    </nav>
</header>
<main>
    <section class="sectionUm">
        <div class="bolhas">
            <span></span>
            <span></span>
          </div>
        <aside class="container-aside">
            <div class="titulo-section">
                <h1>Victor Roger</h1>
                <p>Desenvolvedor</p>
                <h3>apaixodado por<span id="palavras-troca"> tecnologia</span></h3>
                <a><img src="../../assets/img/github.png" alt=""></a>
                <a><img src="../../assets/img/instagram.png" alt=""></a>
                <a><img src="../../assets/img/linkedin.png" alt=""></a>
            </div>
        </aside>
        <div class="lateral-home">
            <div class="imagem-programador">
                <img src="../../assets/img/programador.jpg" alt="">
            </div>
        </div>
    </section>
    <section class="sectionDois">
            <div class="foto">
                <img src="../../assets/img/programador.jpg" alt="">
            </div>
            <div class="historia">
                <h1>SOBRE MIM</h1>
                <p>Olá eu me chamo Victor, e eu vou falar um pouco sobre mim tenho <span></span>, sou casado e tenho um filho.
                <br>Conheci a programação ataves de um amigo e desde então sempre gostei dessa area, sempre estou em buca de me aprimora, 
                sou focado e aprendo rapido, adoro me divertir com meu filho e jogar video game.<br>
                Não sou bom em falar sobre mim tenho dificuldade de expressar, mas estou em busca de melhorar isso.
                </p>
                <div class="cv-posicao">
                    <div class="curriculo">
                        <a>curriculo</a>
                    </div>
                </div>
            </div>
            
    </section>
    <section class="sectionTres">
        <div class="habilidades">
            <ul>
                <li>Python</li>
                <li>javascript</li>
                <li>html</li>
                <li>css</li>
                <li>angular</li>
            </ul>
        </div>
        <div class="hardskill">
            <ul>
                <li>pro ativo</li>
                <li>lideraça</li>
                <li>comunicativo</li>
            </ul>
        </div>
    </section>
    <section class="sectionQuatro">
            <div class="projeto">
                <h1>EM BREVE</h1> 
            </div>
            <div class="botoes">
                <input type="radio">
                <input type="radio">
                <input type="radio">
            </div>
    </section>
</main>